<div class="user_details">
    <%= current_user.name%>
    <%=button_to "Sign out", destroy_user_session_path,:method => :delete, class: "signout", data: {turbo:false}%>
    
</div>

<% @events.each do |event|  %> 
<%= link_to event.title, event_path(event) %> 
<%end%>



