.user_details {
    margin-top:15px;
    display: flex;
    gap:10px;
}

.signout{
    background-color: rgba(128, 128, 128, 0.222);
    border:1px solid rgba(128, 128, 128, 0.476);
}

.event_container {
    display:flex;
    flex-direction: column;
    gap:30px;
    border: 1px solid rgba(128, 128, 128, 0.22);
    width:230px;
    height:280px;
    align-items: center;
    justify-content: center;
    padding:40px;
    
    margin:30px;
    margin-left:80px;



}

.event_container > a:visited  {
    color:black;
}

.event_container > a:hover  {
    color:black;
    background-color:#6f728729;
}

.event_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event_text > div {
    margin-top:10px;
    font-size:1.3rem;
    font-weight:0;
}

.event_text > div:first-child {

    font-weight:600;
    
}

.body_container {
    display: grid;
    grid-template-rows: 40px 1fr 40px 1fr;
    /* grid-template-columns: ; */
    width: 85%
    
}


.past, .future {
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    overflow-x:auto;
    overscroll-behavior-inline:contain ;
    width:1500px;
}


.align_body_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}